@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', serif;
}

ul
{

    display:flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    gap: 20px;
}

a
{
    color: white;
    text-decoration: none;

}

.head
{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    padding-left: 100px;
    justify-content: flex-start;
}

.first
{
    display: flex;
    background-color: #1f2937;
    padding: 50px 200px;
    justify-content: center;
    height: fit-content;
}

.ftext
{
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
    margin-right: 20px;
}

.ftext .introText
{
    font-size: 50px;
    color: #f9faf8;
    font-weight: 900;
    padding-bottom: 5px;
}

.ftext .bodyText
{
    font-size: 20px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.ftext .button
{
    border-radius: 5px;
    background-color: #3882f6;
    padding: 7px 25px;
    width: 65px;
    border: 0;
    color: white;
    font-weight: bold;
}
.first .imageholder
{
    background-color: slategray;
    color:#E5e7EB;
    width: 500px;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.second
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 16px 0px 64px 0px;
}

.items-list
{
    width: 80%;
    display:flex;
    justify-content: space-evenly;
    gap: 50px;
}

.information
{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 32px;
    margin-left: 170px;
}

.item-square
{
    height:150px;
    width:150px;
    border: 4px solid #3882F6;
    border-radius:20px;
}

.item-text
{
    margin-top: 12px;
    text-align:center;
}

.item
{
    color: #636363;
    max-width: 150px;
}

.third .box
{
    width: fit-content;
    margin: 0px auto;
    padding: 24px;
    background-color: #e5e7eb;
}
.text
{
    width: 65%;
    margin: 100px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    
    
}

.quote
{
    font-size: 36px;
    color: #1F2937;
    font-weight:300;
    font-style:italic;
}

.author
{
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}