body
{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', serif;
}

ul
{

    display:flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    gap: 20px;
}

a
{
    color: white;
    text-decoration: none;

}

img
{
    width: 300px;
    height: auto;
}

.head
{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    padding-left: 100px;
}

.first
{
    display: flex;
    background-color: #1f2937;
    padding: 50px 200px;
    justify-content: center;
    height: fit-content;
}

.subFirst
{
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
    margin-right: 20px;
}

.ftext .introText
{
    font-size: 50px;
    color: #f9faf8;
    font-weight: 900;
    padding-bottom: 5px;
}

.ftext .bodyText
{
    font-size: 20px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.ftext .button
{
    border-radius: 5px;
    background-color: #3882f6;
    padding: 7px 25px;
    width: 65px;
    border: 0;
    color: white;
    font-weight: bold;
}